@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #c4a20a 16.62%, #f1d96b 81.25%);
}

.topo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.topo-imagem {
    opacity: 75%;
    height: 120px;
    border-radius: 50%;
    justify-content: center;
}

.topo-menu {
    display: flex;
    gap: 42px;
}

.topo-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #5a3403;
    font-weight: 400;
    font-size: 18px;
}

.topo-menu-item:hover {
    background-color: #f3b86b;
    transition-duration: 0.7s;
  }

  .conteudo {
    border-top: 0.4px solid #fff2e7;
    margin-bottom: 48px;
  }

  .conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
  }

  .conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .conteudo-principal-escrito-titulo {
    font-family: 'Permanent Marker', regular;
    font-weight: 400;
    font-size: 84px;
    color: #5a3403;
    margin-top: 40px;
  }

  .conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: #5a3403;
  }

  .conteudo-principal-escrito-botao {
    background-color: #a35e04;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2f2325;
  }

  .conteudo-principal-escrito-botao:hover {
    background-color: #f3b86b;
    transition-duration: 0.7s;
  }

  .logoG {
    height: 350px;
    border-radius: 50%;
    opacity: 85%;
  }

  .conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
  }

  .conteudo-secundario-titulo {
    border-top: 0.4px solid #fff2e7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #5a3403;
    margin-bottom: 16px;
  }

  .comteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #5a3403;
  }

  .rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 32px;
    border-top: 0.4px solid #fff2e7;
  }

  .rodape-info {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #5a3403;
    margin-bottom: 16px;
  }

  .rodape-lista {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .rodape-lista-item {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #5a3403;
  }
